* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);

.navbar {
background-image: url("../images/goldnav.gif");
background-size: cover;
/*background-attachment: fixed;*/
/*height: 200px;*/
border-color: white;
border-style: solid;
border-width: 2px;
/*display: block;*/
}



#indextitle {
font-size: 60px;
font-family: 'Lobster', cursive;
color: white;
text-shadow: 2px 2px black;
}

h3 {
font-size: 30px;
font-family: 'Lobster', cursive;
color: white;
text-shadow: 2px 2px black;
}

#brandcon{
margin: 0 auto;
}


.navbar-nav {
/*margin-left: 400px;*/
font-family: 'Lobster', cursive;
}

#background {
background-image: url("../images/bg2.jpg");
height: 100%;
margin-bottom: 0 auto;
/*margin-top: 15vh;*/
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
/*position: relative;*/
}

#backgroundindex {
background-image: url("../images/indexbg.gif");
height: 100%;
margin-bottom: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

#indexsection {
background-color: transparent;
}

#bgcon {
height: 1000px;
}




/*.carousel-inner {
margin-top: 50px;
margin-left: 180px;
height: 400px;
width: 750px;
border-color: white;
border-style: solid;
border-width: 5px;
}*/

.carousel > #pic {
position: relative;
transition: 0.1s;
}

/*#carouselrow {
margin-bottom: 40px;
}*/

#brandcon {
padding-top: 5%;
padding-bottom: 5%;
}

#brandrow {
padding-top: 3%;
padding-bottom: 3%;
padding-right:3%
margin-left: 10vw;
/*font-family: 'Lobster', cursive*/;
/*	margin-: 40px;*/
}

#brandshome {
padding-top: 30px;
padding-left: 30px;
font-family: 'Lobster', cursive;
margin-bottom: 40px;

}

#cardlux {
margin: 15px;
}

#backgroundhome {

background-image: url("../images/bg2.jpg");
height: 100%;
margin-bottom: 0 auto;
/*margin-top: 176p#salx;*/
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;

}


#backgroundabout {
background-image: url("../images/bg2.jpg");
height: 100%;
margin-bottom: 0 auto;
/*margin-top: 10vh;*/
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
/*position: relative;*/
}

#backgroundcontacts {
background-image: url("../images/bg2.jpg");
height: 100%;
margin-bottom: 0 auto;
/*margin-top: 20vh;*/
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

#backgroundhomeabout {
background-image: url("../images/indexbg.gif");
height: 100%;
margin-bottom: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
padding-top: 30px;
padding-left: 30px;
padding-bottom: 30px;
font-family: 'Lobster', cursive;
/*	margin-bottom: 10px;
margin-top: 20px;*/
}

#backgroundhomegallery {
background-image: url("../images/bg2.jpg");
height: 100%;
margin-bottom: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
padding-top: 30px;
padding-bottom: 20px;
/*position: relative;*/
}

#backgroundhomecontacts {
background-image: url("../images/bg2.jpg");
height: 100%;
margin-bottom: 0 auto;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
/*padding-top: 30px;*/
}

/*@media only screen and (max-width: 400px) {
#background {
width: 400px;
height: 100%;
margin: 0 auto;*/
/*margin-left: 0;*/
/*	}
}*/
#mapcard {
font-family: 'Lobster', cursive;
}


footer {
background-image: url("../images/footer.jpg");
width: 100%;
background-size: cover;

}

#homefooter {
width: 100%;
}




#carouselcard {
margin-left: 10%;
margin-right: 10%;
margin-top: 10%;
margin-bottom: 3%;
}


.card {
border-color: white;/*#6d3700;*/
border-width: 10px;
}


#bag {
width: 716px;
height: 176px;
width:inherit;

}

#form {
display: none;
}

/*h5 {
height: 300px;
width: 400px;
}*/

#btnbag {
padding: 0;
margin: 20px 0 20px 20px;
}

#zoombag {
height: 300px;
width: 400px;

margin-top: 20px;
}

label {
color: white;
}

#conts {
/*margin-top: 200px;*/
}

section {
padding-bottom: 30px;
}


#luxury {
width: 280;
height: 200;
}

#number,
#color {
font-color: black;
}

h2 {
font-family: 'Lobster', cursive;
}


a.nav-link2 {
font-family: 'Lobster', cursive;
font-size: 12px;
color: black;

}

/*.nav-item {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  }*/
  .nav-link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 8px 0; 
  }


#bagcont{
padding: 0 auto;
position: relative;
margin-left: ;
}

  @-webkit-keyframes example {
  from {left: 200px;}
  to {left: 0px; }
  }

  @keyframes example {
  from {left: 200px;}
  to {left: 0px; }
  }
  #luxury {
  width: 280;
  height: 200;
  position: relative;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  }






}




/*___________________________________________*/


@media only screen and (min-width: 1px, max-width: 400px)
{

#backgroundhome {
width: 100%;
}
img {
height: 100vw;
width: 140vw;
margin: 0;
width:inherit;
}

a.navbar-brand {
font-size: 8px;
font-family: 'Lobster', cursive;
text-shadow: 2px 2px black;
}
.nav-link {
font-size: 12px;
font-family: 'Lobster', cursive;
text-shadow: 1px 1px black;
}
#backgroundhome {
width: 100%;
height: 100%;
}
#backgroundcontacts {
width: 100%;
height: 100%;
}
#backgroundindex {
width: 100%;
height: 100%;
}
#indextitle {
font-size: 30px;
}
h3 {
font-size: 14px;
font-family: 'Lobster', cursive;
color: white;
text-shadow: 2px 2px black;
}
#zoombag {
height: 230px;
width: 270px;
}
#salerow {
padding-top: 0;
}
#btnbag {
padding: 0;
margin: 0 0 0 0;
width:inherit;
}

 #salecard {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5vh;
  margin-bottom: 3%;
  /*position: relative;*/
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  }
  #bag1, #bag2, #bag3, #bag4, #bag5, #bag6, #bag7, #bag8, #bag9 {

    position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)

}

}




@media only screen and (min-width: 401px, max-width: 768px) {
#backgroundindex {
width: 100%;
}
a.navbar-brand {
font-size: 20px;
font-family: 'Lobster', cursive;
text-shadow: 2px 2px black;
}
.nav-link {
font-size: 15px;
font-family: 'Lobster', cursive;
text-shadow: 1px 1px black;
}
img {
height: 100%;
width: 100%;

width:inherit;

}
#bag1, #bag2, #bag3, #bag4, #bag5, #bag6, #bag7, #bag8, #bag9 {
padding: 0;
position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)

}
#btnbag {
padding: 0;
margin: 0 0 0 0;
width:inherit;
}
#branding {
font-size: 12px;
font-family: 'Lobster', cursive;
text-shadow: 1px 1px black;
border-width: 0;
}
#salerow {
margin-top: 10%;
}

 #salecard {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  margin-bottom: 3%;
  position: relative;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  }

}


@media only screen and (min-width: 769px) {
#bag1, #bag2, #bag3, #bag4, #bag5, #bag6, #bag7, #bag8, #bag9 {
padding-right:  0;
position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)
}
a.navbar-brand {
font-size: 25px;
font-family: 'Lobster', cursive;
text-shadow: 2px 2px black;
}
img {
position: cover;
width: 716px;
height: 176px;
width:inherit;
}
#btnbag {
padding: 0;
margin: 0 0 0 0;
width:inherit;
}
#salerow {
/*margin-top: 3%;*/
}

 #salecard {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  margin-bottom: 3%;
  position: relative;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */  
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  }

}
/*_________________________________________-*/
